@font-face {
    font-family: SharpSans;
    src: url('SharpSansDispNo2-Bold.woff2') format('woff2'),
        url('SharpSansDispNo2-Bold.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    text-align: center;
}

.HeroModule {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 720px;
}

.HeroModule-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 720px;
    flex: 0 1 auto; /* new */
}

.HeroModule-content-header {
    max-width: 720px;
    font-size: 6rem;
    line-height: 1;
    text-transform: uppercase;
    flex: 0 1 auto; /* new */
    margin: 0;
    font-family: SharpSans;
}

.HeroModule-content-subheader {
    flex: 0 1 auto; /* new */
    margin: 22px 0 0;
}

.HeroModule-content-eyebrowImage {
    order: -1;
    max-width: 100%;
    flex: 0 1 auto; /* new */
    width: 500px; /* new */
    height: 140px; /* new */
}

.HeroModule-content-actions {
    max-width: 460px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 1 auto; /* new */
    margin: 28px -8px -8px;
}

/* ############################################# */

.TestModule {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TestModule-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TestModule-content img {
    order: -1;
    margin: 0;
}
.TestModule-content p {
    margin: 0;
}
.TestModule-content h1 {
    margin: 0;
}
.TestModule-content h3 {
    margin: 0;
}